    h1{
        color: white;}
    body{
     color: white;
    background-color: black;}
    a{
        color: yellow;}
 #button-table{
                align:center;
                bgcolor: black;
                border-collapse: separate;
                border-spacing: 75px}
